.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.2);
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
}